<head>
  <style type="text/css">
    .center{
      text-align:  center;
    } 
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <title>PAGE1</title>
</head>

<body>
  <div class="w3-display-middle center">
      <font class = "w3-jumbo center" color="black">Prediction<br>Application<br></font>
      <br><br><br><br><a href="http://127.0.0.1:5000/Page2" class= "w3-jumbo w3-button w3-btn w3-block w3-teal center" target = "_self"><font color="black">START</a>
  </div>
</body>