<head>
  <style type="text/css">
    .center{
      text-align:  center;
    } 
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <title>PAGE6</title>
</head>

<body>
  <div class ="w3-bar w3-teal">
    
    {% if admin == 1  %}
      <a href="http://127.0.0.1:5000/adminpage" class= "w3-jumbo w3-button w3-right w3-btn w3-teal" target = "_self"><font color="black">Admin</a>
    {% endif %}

    <a href="http://127.0.0.1:5000/Page5" class= "w3-jumbo w3-button w3-left w3-btn w3-teal" target = "_self"><font color="black">Back</a>
  </div><br><br><br><br><br><br>
  <div class="center">
    <font class = "w3-jumbo center" color="black">Your prediction is:<br></font>
  </div>
  <div class="center">
    <font class = "w3-jumbo center" color="black">{{text}}<br></font>
  </div>
</body>